html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e9f1f7;
}

#header{
  display: inherit;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
}

#splash-screen-main{
  display: inherit;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#splash-screen-small{
  display: inherit;
  flex-direction: row;
  height: 25%;
  width: 100%;
}

#splash-screen-medium{
  display: inherit;
  flex-direction: column;
  height: 75%;
  width: 100%;
}
/*RPS Game Screen*/
div.element-name-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 33%;
}

#choose-element{
  display: inherit;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
}

/*Basic Formatting Tools*/
div.fullscreen{width: 100%; height: 100%;}
div.flex-col{display: flex; flex-direction: column;}
div.flex-row{display: flex; flex-direction: row;}
div.flex-row-r{display: flex; flex-direction: row-reverse;}

div.five-row{width: 100%; height: 20%;}

div.left-col, div.right-col{
  display: inherit;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.centered-content{
  justify-content: space-around;
  align-items: center;
}

img{
  object-fit: scale-down;
}

img:hover{
  cursor: pointer;
}

img.rounded-small, img.rounded-medium, img.rounded-large, img.rounded{
  border-radius: 50%;
}

img.rounded-large, .large{
  height: 50%;
  width: 50%;
}

img.fill{
  object-fit: contain;
  overflow: hidden;
}

#photo-end{
  display: flex;
  align-content: center;
  justify-content: center;
}

#quote-box{
  display: flex;
  text-align: center;
  height: 15%;
  width: 75%;
}

#play-again-button{
  height: 10%;
  width: 20%;
}

/*Colors: https://coolors.co/2f9fe0-a93f55-e7dfc6-e9f1f7-131b23*/
.white{
  color: #e9f1f7;
}

.black-bg{
  background-color: #131b23;
}

.blue-bg{
  background-color: #2f9fe0;
}

.purple-bg{background-color: #a93f55;}

.rock-bg{background-color: #c6b4a7; /*#6b4423;*/}

.ice-bg{background-color: #c9dae8}

.fire-bg{background-color: #f9cba0}

.grass-bg{background-color: #b3d59d}

#credits{
  display: inherit;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
}

/*Debug CSS*/
.test-box{
  border: 1px solid #000000;
}
