html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #a93f55;
}

#header{
  display: inherit;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
}

#splash-screen-main{
  display: inherit;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

div.left-col, div.right-col{
  display: inherit;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.centered-content{
  justify-content: space-around;
  align-items: center;
}

img{
  object-fit: scale-down;
}

img.rounded-small, img.rounded-medium, img.rounded-large, img.rounded{
  border-radius: 50%;
}

img.rounded-large, img.large{
  height: 50%;
  width: 50%;
}

.white{
  color: #e9f1f7;
}

.test-box{
  border: 1px solid #e9f1f7;
}
